<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nongke.jindao">
    <!--Normal Permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Dangerous Permissions-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.application.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/FullScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".activity.RegisterLoginActivity"></activity>
        <activity android:name=".activity.DaoliRechargeActivity"></activity>
        <activity android:name=".activity.DaoLiTransferActivity"></activity>
        <activity android:name=".activity.WithdrawActivity"></activity>
        <activity android:name=".activity.MyProfileActivity"></activity>
        <activity android:name=".activity.MyAddressActivity"></activity>
        <activity android:name=".activity.VipRechargeActivity"></activity>
        <activity android:name=".activity.PromotionActivity"></activity>
        <activity android:name=".activity.MyInviterActivity"></activity>
        <activity android:name=".activity.MessageActivity"></activity>
        <activity android:name=".activity.WebViewActivity"></activity>
        <activity android:name=".activity.ProductDetailActivity"></activity>
        <activity android:name=".activity.OrderActivity"></activity>
        <activity android:name=".activity.MyBillActivity"></activity>
        <activity android:name=".activity.MyCommissionActivity"></activity>
        <activity android:name=".activity.WithdrawRecordActivity"></activity>
        <activity android:name=".activity.OrderRecordActivity"></activity>



        <!--value的值填写你在友盟后台申请的应用Appkey-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b856a95b27b0a712f0000fb" />
        <!--value的值填写渠道名称，例如yingyongbao。这里设置动态渠道名称变量-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>